deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/bionic-proxy/ {{ ansible_distribution_release }} main multiverse restricted universe
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/bionic-proxy/ {{ ansible_distribution_release }}-updates main multiverse restricted universe
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/bionic-proxy/ {{ ansible_distribution_release }}-backports main multiverse restricted universe
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/bionic-proxy/ {{ ansible_distribution_release }}-security main multiverse restricted universe
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/ubuntu/ {{ ansible_distribution_release }} main multiverse restricted universe
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/ubuntu/ {{ ansible_distribution_release }}-security main multiverse restricted universe
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/ubuntu/ {{ ansible_distribution_release }}-updates main multiverse restricted universe
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/ubuntu/ {{ ansible_distribution_release }}-backports main multiverse restricted universe
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/docker-ubuntu/ {{ ansible_distribution_release }} stable
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/ansible-bionic-proxy/ {{ ansible_distribution_release }} main
# deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/packages.microsoft.com--ubuntu/{{ ansible_distribution_release }}/prod {{ ansible_distribution_release }}  main
deb [arch=amd64, trusted=yes] http://repo.asax.ir/repository/apt-hashicorp/ {{ ansible_distribution_release }} main
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/ppa.launchpadcontent.net--deadsnakes--ppa--ubuntu/ {{ ansible_distribution_release }} main
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/repo.mongodb.com--apt--ubuntu/ {{ ansible_distribution_release }}/mongodb-enterprise/7.0 multiverse
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/apt.postgresql.org--pub--repos--apt/ {{ ansible_distribution_release }}-pgdg main
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/prod-cdn.packages.k8s.io--repositories--isv--kubernetes--core--stable--v1.26--deb/ /
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/prod-cdn.packages.k8s.io--repositories--isv--kubernetes--core--stable--v1.27--deb/ /
deb [arch=amd64, trusted=yes] https://repo.asax.ir/repository/prod-cdn.packages.k8s.io--repositories--isv--kubernetes--core--stable--v1.28--deb/ /
