network:
  version: 2
  ethernets:
    {{ ethernet_interface }}:
      addresses:
{% for ip_address in ip_addresses %}
        - {{ ip_address }}
{% endfor %}
      nameservers:
        addresses:
{% for dns_server in dns_servers %}
          - {{ dns_server }}
{% endfor %}
        search:
{% for domain in searching_domain %}
          - {{ domain }}
{% endfor %}
{% if default_gateway %}
      routes:
        - to: 0.0.0.0/0
          via: {{ default_gateway }}
{% endif %}